.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
old/
tmp/
tmp_archivist/
workshops/WhyR2018/ilustracje/
docs_2019_07_31
docs_2019_10_01
docs_2019_10_15
docs_2019_11_20
*.odp
*.key
